*{
    margin: 0;
    padding: 0;
    font:normal 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(245, 173, 173);
    background: url('img/Untitled\ design.jpg') no-repeat;
    
}
.loginbox{
    width: 420px;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px 40px;
}
.loginbox h2{
    text-align: center;
}
.loginbox .user{
    width: 100%;
    height: 50px;
   color: aliceblue;
    margin: 30px 0;
}
.user input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    background: transparent;
    padding: 20px 45px 20px 20px;    
}
.user ::placeholder{
    color: rgb(255, 255, 255)    ;
}
.loginbox .rememberme{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.rememberme lable input{
    margin: 3px;
}
.rememberme a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.rememberme a:hover{
    text-decoration: underline;
}
.loginbox .button{
    width: 100%;
    height: 45px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 20px;
}
.loginbox .account{
    text-align: center;
    font-size: 15px;
    margin: 20px 0 15px;
}
.account p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 200;
}
.account a:hover{
    text-decoration: underline;
}